@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');

p {
    color: black;
    font-size: 30px;
    font-style: oblique;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}